@import "tailwindcss";


@tailwind utilities;
@tailwind utilities;

* {
  font-family: spaceGrotesk, sans-serif;
}

h3{
  font-family: Poppins, sans-serif;
}

h1 {
  font-family: spaceGrotesk, sans-serif;
}

